html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/*********************************
*    Generic Helper Classes      *
**********************************/
.hide
{
  display: none !important;
}

/*********************************
*          Color Classes         *
**********************************/
.color1
{
  color: #ccff00 !important;
}
.box_color1
{
  border-color: #ccff00 !important;
}

.color2
{
  color: #9900ff !important;

}
.box_color2
{
  border-color: #9900ff !important;
}

.color3
{
  color: #ff00cc !important;

}
.box_color3
{
  border-color: #ff00cc !important;
}

.color4
{
  color: #447BD4 !important;

}
.box_color4
{
  border-color: #447BD4 !important;
}


/*********************************
* Sidebar
**********************************/
#side
{
  width: 180px;
  float: left;
  padding: 20px;
}
#side_avatar
{
  height: 128px;
  margin: 0 auto;
}
#side_avatar_container
{
  width: 128px;
  margin: 0 auto;
}
#side_about, #side_tweets, #side_avatar
{
  margin-top: 20px;
  padding: 10px;
  border-left: 3px solid #666;
  border-right: 3px solid #666;
}
#side_about h3
{
  color:  #9900ff;
}
#side_about p
{
  font-size: 12px;
  margin: 10px;
}

body
{
  background: #000 url('../images/bg-content.png');
  color: #fff;
  font-family: Arial;
}

a
{
  text-decoration: none;
  color: #447BD4;
}
  a:hover
  {
    text-decoration: underline;
  }


#wrapper
{
  /*width: 950px;*/
}

  #wrapper h1
  {
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
  }


#posts_list
{
}
  #posts_list .box
  {
    float: left;
    width: 130px;
    height: 100px;
    overflow: hidden;
    margin: 10px 10px;
    border-top: 3px solid #666;
    border-bottom: 3px solid #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    /*box-shadow: 0px 5px 5px #333;
    -webkit-box-shadow: 0px 5px 5px #333;
    -moz-box-shadow: 0px 5px 5px #333;*/
  }
    #posts_list .box img
    {
      width: 100%;
      height: 100%;
    }
    #posts_list .box h3
    {
      font-size: 14px;
      line-height: 16px;
      padding-top: 30px;
      text-align: center;
    }
    #posts_list .box a
    {
      font-size: 14px;
      margin-top: 10px;
    }
    #posts_list .box p
    {
      padding-left: 10px;
      font-size: 12px;
      text-align: center;
    }
    #posts_list .box .titlebar
    {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba( 0, 0 ,0, 0.5);
      padding: 5px 0;
    }

    /* Style for large boxes */
    #posts_list .box_large
    {
      width: 430px;
      height: 350px;
    }
    #posts_list .box.box_large .titlebar
    {
      padding: 10px 0;
    }
    #posts_list .box.box_large .titlebar p
    {
      font-size: 16px;
      text-align: center;
    }

ul#post_filter
{
  width: 500px;
  height: 50px;
  overflow: hidden;
}
#post_filter li
{
  float: left;
  text-transform: capitalize;
  margin: 0 10px;
}
#post_filter li.selected
{
  text-decoration: underline;
}


/*********************************
*   Isotope Styles              *
*********************************/

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

